@import "src/index";

.drawing-bar {
    display: grid;
    background-color: $white;
    position: absolute;
    top: 100px;
    border-radius: 10px;
    grid-gap: 30px;
    padding: 10px;

    @media screen and (min-width: $mobileDevice) {
        width: 250px;
        min-height: 300px;
        left: 25px;
    }

    @media screen and (min-width: $tabletDevice) {
        left: 50px;
        width: 350px;
    }
}

.drawing-bar__input-label {
    &.css-9npbnl-MuiFormLabel-root-MuiInputLabel-root {
        display: flex;
        justify-content: center;
        align-items: center;
        color: black;
        flex-wrap: wrap;
        position: relative;
        min-height: 70px;
        text-align: center;

        @media screen and (min-width: $mobileDevice) {
            font-size: $normal-font;
        }

        @media screen and (min-width: $tabletDevice) {
            font-size: $medium-font;
            text-align: left;
        }

        &:nth-of-type(2) {
            display: grid;
            width: 100%;
        }
    }
}

.drawing-bar__input input {
    @media screen and (min-width: $mobileDevice) {
        margin-left: 10px;
        font-size: $normal-font;

        &::placeholder {
            font-size: $normal-font;
        }
    }
    @media screen and (min-width: $mobileDevice) {
        font-size: $medium-font;

        &::placeholder {
            font-size: $medium-font;
        }
    }
}

.drawing-bar__text-area {
    padding: 10px 5px 0 10px;
    resize: none;

    @media screen and (min-width: $mobileDevice) {
        font-size: $normal-font;
        min-width: 220px;

        &::placeholder {
            font-size: $normal-font;
        }
    }

    @media screen and (min-width: $tabletDevice) {
        font-size: $medium-font;
        min-width: 260px;

        &::placeholder {
            font-size: $medium-font;
        }
    }
}

.drawing-bar__confirm-button {
    max-height: 40px;
    justify-self: center;
    width: 200px;
}

.drawing-bar__input-alert {
    color: $red;
    text-align: center;
    font-size: $small-font;
    top: 45px;
    height: 20px;
    position: absolute;
    display: flex;

    &:nth-child(3) {
        position: relative;
        left: 80px;
        top: 0;
    }
}

.drawing-bar__pop-up {
    display: grid;
    grid-gap: 10px;
    padding: 10px;
    border: 3px solid $blue;
    border-radius: 10px;
    color: $dark;

    @media screen and (min-width: $mobileDevice) {
        font-size: $small-font;
    }

    @media screen and (min-width: $tabletDevice) {
        font-size: $normal-font;
    }
    @media screen and (min-width: $desktopDevice) {
        font-size: $medium-font;
    }
}

.drawing-bar__marker-description {
    word-wrap: anywhere;
}

.drawing-bar__marker-name-box {
    display: flex;
}

.drawing-bar__marker-name {
    color: $red;
}