.navigation {
    position: fixed;
    width: 100%;
    display: grid;
    z-index: 1000;
}

.navigation__links {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    min-height: 40px;
}

.navigation__link {
    text-decoration: none;
    color: #282c34;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    font-size: 20px;
    width: 100%;
}


.navigation__link_wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    padding: 5px;
}

.navigation__link_icon {
    color: red;
    position: absolute;
    display: block;
}


.navigation__menu {
    width: 100%;
}