@import "src/index";

.no-match-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: $red;
    padding: 10px;
}

.no-match-page__link {
    text-decoration: none;
    color: $dark;
    font-size: $large-font;
    font-weight: 600;
    padding: 10px;
    border: 2px solid $dark;
    border-radius: 10px;

    &:hover {
        background-color: $green;
    }
}
